
namespace MQL4CSharp.Base.Enums
{
    public enum MQLCommand
    {
{% set count = [1] %}
{% for c in data %}{% set cmd_loop = loop %}{% for f in c.functions %}      {{c.title}}_{{loop.index}} = {{count[0]}},
{% if count.append(count.pop() + 1) %}{% endif %}{% endfor %}{% endfor %}
        iCustom_1 = 1000,
    }
}