
namespace MQL4CSharp.Base.Enums
{
    public enum MQLCommand
    {
{% for c in data %}{% set cmd_loop = loop %}{% for f in c.functions %}      {{c.title}}_{{loop.index}} = {{cmd_loop.index}},
{% endfor %}{% endfor %}
        iCustom_1 = 1000,
    }
}